    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <header class="" id="Legend">
        <nav class="nav-extended">
            <div class="nav-wrapper white">
                <div class="container">
                    <a href="" class="brand-logo black-text">
                        <b>LAWGICAL</b>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><p class="black-text">Welcome {{userDetails.fullname.split(' ')[0]}} !!</p></li>
                            <li><button class="btn btn-dark" id="lgbtn" (click)="onLogout()">Logout</button></li>
                        </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 2rem;">
        <div align="center">
          <form *ngIf="!query" #QueryForm="ngForm" (ngSubmit)="QueryForm.valid && onSubmit(QueryForm)">
              <!-- <input type="text"> -->
              <textarea placeholder="Enter the Case Facts Here" name="data" #data="ngModel" [(ngModel)]="model.data" id="casefacts" required></textarea>
              <input type="submit" value="Submit Query" id="submitbutton" class="btn btn-block">
              <div *ngIf="QueryForm.submitted && !data.valid">
                <label *ngIf="data.errors.required" class="validation-message black-text"><h4><b>CASE FACTS CANNOT BE EMPTY</b></h4></label>
                <label *ngIf="data.errors.minlength" class="validation-message"><h3>The case facts must be more detailed</h3></label>
              </div>
          </form>
          <img *ngIf="query" src="./../../assets/img/loading.gif" style="height: 480px; width: 480px;">
        </div>
    </div>




    <h2 *ngIf="functionDebug1">{{functionDebug1}}</h2>

    <!-- <a [attr.href]='name'>{{filename}}</a> -->
    <div class="container" *ngIf="case && !query">
        <div class="container">
            <div class="row" style="border-style: solid;">
                  <h4 *ngIf="cases>=7" class="col l8"  style="vertical-align: middle; padding-top: 35px; padding-left: 35px">Chances of success are high </h4>
                  <h4 *ngIf="cases<7" class="col l4" style="vertical-align: middle; padding-top: 35px; padding-left: 35px"> Chances of success are low</h4>
                  <img src="./../../assets/img/gavel.gif" alt="GAVEL BANG!!!">
            </div>
          </div>
      <table class="bordered" style="text-align: center; border-style: solid" >
        <tr>
          <th>Algorithm</th>
          <th>model 1: {{svm}}</th>
          <th>model 2: {{rf}}</th>
          <th>model 3: {{knn}}</th>
          <th>model 4: {{lr}}</th>
          <th>model 5: {{nb}}</th>
        </tr>
        <tr>
          <th>Feature Extraction 3: Bag Of Words</th>
          <td *ngIf="bowsvmclass==1" class=" light-green darken-1">{{bowsvmclass}}</td>
          <td *ngIf="bowsvmclass==0" class="red darken-2">{{bowsvmclass}}</td>
          <td *ngIf="bowrfclass==1" class=" light-green darken-1">{{bowrfclass}}</td>
          <td *ngIf="bowrfclass==0" class=" red darken-2">{{bowrfclass}}</td>
          <td *ngIf="bowknnclass==1" class="light-green darken-1">{{bowknnclass}}</td>
          <td *ngIf="bowknnclass==0" class="red darken-2">{{bowknnclass}}</td>
          <td *ngIf="bowlrclass==1" class="light-green darken-1">{{bowlrclass}}</td>
          <td *ngIf="bowlrclass==0" class="red darken-2">{{bowlrclass}}</td>
          <td *ngIf="bownbclass==1" class="light-green darken-1">{{bownbclass}}</td>
          <td *ngIf="bownbclass==0" class="red darken-2">{{bownbclass}}</td>
        </tr>
        <tr>
          <th>Feature Extraction 1: TFIDF</th>
          <td *ngIf="svmclass==1" class=" light-green darken-1">{{svmclass}}</td>
          <td *ngIf="svmclass==0" class="red darken-2">{{svmclass}}</td>
          <td *ngIf="rfclass==1" class=" light-green darken-1">{{rfclass}}</td>
          <td *ngIf="rfclass==0" class=" red darken-2">{{rfclass}}</td>
          <td *ngIf="knnclass==1" class="light-green darken-1">{{knnclass}}</td>
          <td *ngIf="knnclass==0" class="red darken-2">{{knnclass}}</td>
          <td *ngIf="lrclass==1" class="light-green darken-1">{{lrclass}}</td>
          <td *ngIf="lrclass==0" class="red darken-2">{{lrclass}}</td>
          <td *ngIf="nbclass==1" class="light-green darken-1">{{nbclass}}</td>
          <td *ngIf="nbclass==0" class="red darken-2">{{nbclass}}</td>
        </tr>
        <tr>
          <th>Feature Extraction 2: DOC2VEC</th>
          <td *ngIf="d2vsvmclass==1" class=" light-green darken-1">{{d2vsvmclass}}</td>
          <td *ngIf="d2vsvmclass==0" class="red darken-2">{{d2vsvmclass}}</td>
          <td *ngIf="d2vrfclass==1" class=" light-green darken-1">{{d2vrfclass}}</td>
          <td *ngIf="d2vrfclass==0" class=" red darken-2">{{d2vrfclass}}</td>
          <td *ngIf="d2vknnclass==1" class="light-green darken-1">{{d2vknnclass}}</td>
          <td *ngIf="d2vknnclass==0" class="red darken-2">{{d2vknnclass}}</td>
          <td *ngIf="d2vlrclass==1" class="light-green darken-1">{{d2vlrclass}}</td>
          <td *ngIf="d2vlrclass==0" class="red darken-2">{{d2vlrclass}}</td>
          <td>---</td>
        </tr>
      </table>
      <br>
    <h4 class="center"><b>SIMILAR CASES FROM PAST</b></h4>
      <div class="row">
        <div *ngFor="let file of files" class="col-md-6 col-lg-6">
          <div class="card">
            <div class="card-content">
              <span> <a [attr.href]='file.link'>{{file.name}}</a></span>
              <p>{{file.similarity}} %</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <textarea id="casefacts" *ngIf="case" readonly>{{case}}</textarea>
    </div> -->
    <div class="container" *ngIf="keywords">
        <table class="table">
          <thead>
            <tr>
              <th>KEYWORD</th>
              <th>RELEVANCE</th>
            </tr>
          </thead>
          <tbody *ngFor="let keyword of keywords">
            <tr>
              <td>{{keyword.parsed_value}}</td>
              <td>{{keyword.relevance}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
