<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<nav class="nav-extended" style="webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);" >
  <div class="nav-wrapper white">
      <div class="container">
          <a href="" class="brand-logo black-text">
              <b>LAWGICAL</b>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li></li>
              </ul>
      </div>
  </div>
</nav>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="underlineHover" routerLink="/login" routerLinkActive="active">Sign In</h2>
    <h2 class="underlineHover" routerLink="/signup" routerLinkActive="active">Sign Up</h2>
    <router-outlet></router-outlet>
  </div>
</div>
